.principal {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.foto {
   
   
    width: auto;
    height: 300px;
    display: block
}
button {
    margin-top: 30px;
    border-radius: 3px;

}
h1 {
    text-align: center;
}